<!--
 SPDX-FileCopyrightText: Copyright 2026 Arm Limited and/or its affiliates <open-source-office@arm.com>
 SPDX-License-Identifier: Apache-2.0
-->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="ML Emulation Layer for Vulkan®"
        android:hasCode="false"/>
</manifest>
